/* Color Palette
# 000000
#fbfbfa
#EAFAF1 
#c9252b
*/

/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  /* background: lightblue;*/
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

h1 {
  color: #fbfbfa;
  font-size: 36px;
}

h2 {
  margin: 0;
  font-size: 30px;
}

h4 {
  color: #fbfbfa;
  font-size: 15px;
}
/*********column wide and narrow*********/

.column-narrow {
  width: 30%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}

.column-wide {
  width: 60%;
  float: right;
  min-height: 225px;
}

/*********Image changes ********/

.profile-img {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin-right: 50 px;
}

/* Header & Footer 
------------------------------------*/

header {
  background: #000000;
  background-position: fixed;
  color: #fbfbfa;
  padding: 10px;
  margin-top: 40px;
}

footer {
  background: #000000;
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
  color: #fae1dd;
}

/* Work Experience
------------------------------------*/

main {
  background: #EAFAF1;
}

/* Education
------------------------------------*/

/*-------------Nav bar -----------*/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #c9252b;
  font-size: 20px;
  font-weight: 800;
}

.content {
  margin-top: 10px;
}

.fixed-nav-bar a {
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.menu a,
.menu a:visited {
  color: #ffffff;
}
.menu a:hover,
.menu a:target {
  color: #ebebeb;
}
.menu-items {
  display: inline-block;
}

a.sitename,
a:visited.sitename {
  color: #e0e0e0;
}
.menu-items {
  padding-right: 10px;
}
.menu-items a {
  display: inline-block;
  margin-right: 20px;
  margin-left: 60px;
  text-decoration: underline dotted;
}
/*---------------Image background---------------------*/
.image-bg {
  width: 100;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* sets gradient and image */
  background: linear-gradient(
      rgba(203, 219, 247, 0.7),
      rgba(187, 225, 242, 0.7)
    ),
    url(
        https://image.freepik.com/free-photo/educational-objects-assortment-close-up_23-2148721260.jpg
      )50%50%fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------Symbol for link solcial media---------- */

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}
